// out: "../css/home.module.css", compress: true, sourceMap: false

.flexCenter(@dir) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: @dir;
}

.main {
  .flexCenter(column);
}

.title {
  margin: var(--size_l);
}

.gameFieldContainer {
  display: flex;
  justify-content: center;
  position: relative;
  .gameField {
    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.gameField {
  overflow: visible;
  position: relative;
  polygon {
    transition: all 500ms ease-in-out;
    &:hover {
      cursor: pointer;
      stroke-width: 3 !important;
      stroke: #000000 !important;
    }
  }
  .land {
    fill: #046604;
  }
  .water {
    animation: water 2s infinite linear;
    @keyframes water {
        0% {
            fill: #2d7afe80;
        }
        50% {
            fill: #2d7afe60;
        }
        100% {
            fill: #2d7afe80;
        }
    }
  }
  .castle {
    fill: #01441c !important;
    stroke-width: 3 !important;
    stroke: #000000 !important;
    fill-opacity: 1 !important;
  }
  .border {
    fill: #00000020;
    stroke: #000000;
    stroke-width: 0.5;
  }
  .corner {
    display: none;
  }
}
