:root {
  --spacing-unit: 1rem;
  --size_xs: calc(var(--spacing-unit) / 4);
  --size_s: calc(var(--spacing-unit) / 2);
  --size_m: var(--spacing-unit);
  --size_l: calc(var(--spacing-unit) * 1.5);
  --size_xl: calc(var(--spacing-unit) * 2);
}

body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}