:root {
  --spacing-unit: 1rem;
  --size_xs: calc(var(--spacing-unit) / 4);
  --size_s: calc(var(--spacing-unit) / 2);
  --size_m: var(--spacing-unit);
  --size_l: calc(var(--spacing-unit) * 1.5);
  --size_xl: calc(var(--spacing-unit) * 2);
  --color_primary: #007bff;
  --color_secondary: #6c757d;
  --color_success: #28a745;
}

body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}